@model Whiteboard.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<div class="row-fluid">

    <p>
        Passwords must be at least @Membership.MinRequiredPasswordLength characters long.
    </p>

    @using (Html.BeginForm()) {
        @Html.ValidationSummary()

   
        @Html.LabelFor(m => m.OldPassword)
        @Html.PasswordFor(m => m.OldPassword)            
        

        
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword)            
        

        
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)            
        

        <br />
       <input type="submit" value="Change password" />
    }


</div>