@model Whiteboard.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<div class="row-fluid">

    <p>
        Please enter your user name and password. @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>

    @using (Html.BeginForm()) {
        @Html.ValidationSummary()

        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName)            
            

            
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)            
            

            
        @Html.LabelFor(m => m.RememberMe)
        @Html.CheckBoxFor(m => m.RememberMe)
            
        <br />
        <input type="submit" value="Log in" />
    }

</div>