@model Whiteboard.Models.Board

@{
    ViewBag.Title = Model.Name;
}

@section header {
    <!-- Tools -->
    <div class="pull-right dropdown" title="Tools">
        <a class="btn dropdown-toggle btn-inverse"  data-toggle="dropdown" href="#">
            <i data-bind="attr: { class: canvas.currentTool().icon + ' icon-white' }"></i>
            <span class="current-color-swatch" data-bind="style: { 'background-color': canvas.currentTool().color}, visible: canvas.currentTool().color"></span>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu tools-menu">
            <li>
                <div data-bind="foreach: canvas.availableTools">
                    <a href="#" class="btn" data-bind="click: $parent.canvas.selectTool">
                        <i data-bind="attr: { class: icon }"></i>
                    </a>
                </div>
            </li>
            <!-- ko foreach: canvas.currentTool().options -->
            <li class="nav-header" data-bind="text: name"></li>
            <li data-bind="template: { name: editor }"></li>
            <!-- /ko -->
        </ul>
    </div>

    <a class="btn btn-inverse pull-right" href="#" data-bind="click: undo, visible: undo.canExecute">
        <i class="icon-remove-sign icon-white"></i>
        Undo
    </a>

    <!-- Board Settings -->
    <div class="pull-right dropdown" title="Board Settings">
        <a class="btn dropdown-toggle btn-inverse" data-toggle="dropdown" href="#">
            <i class="icon-wrench icon-white"></i>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="nav-header">Board Settings</li>
            <li>
                <a href="#" data-bind="confirmDeleteButton: { action: clearBoard }">
                    <i class="icon-fire"></i>
                    Reset Board
                </a>
            </li>
            <li>
                <a href="#" data-bind="click: canvas.recenter">
                    <i class="icon-screenshot"></i>
                    Re-Center View
                </a>
            </li>
            <li class="nav-header">Board Actions</li>
            <li>
                 <a title="Email Board Link" href="mailto:?subject=Whiteboard%20Link&body=Come%20join%20my%20Whiteboard%20at%20@(Request.Url.AbsoluteUri)">
                    <i class="icon-envelope"></i>
                     Email link to this board
                </a>
            </li>
            <li class="nav-header">Rename Board</li>
            <li>
                <form class="pull-left form-search board-name-form" data-bind="submit: saveName">
                    <input data-bind="value: name" class="" placeholder="Unnamed Board" />
                    <div data-bind="loadingWhen: saveName.isRunning" class="name-save-marker">
                        <i class="icon-ok" data-bind="visible: hasSavedName"></i>
                    </div>
                </form>
            </li>
        </ul>
    </div>

    <!-- Events -->
    <div class="pull-right dropdown" title="Board Events">
        <a class="btn dropdown-toggle btn-inverse" data-toggle="dropdown" href="#" data-bind="click: clearNewEvents">
            <strong data-bind="visible: newEvents, text: newEvents"></strong>
            <i class="icon-flag icon-white"></i>
            <span class="caret"></span>
        </a>
        <ul data-bind="foreach: events" class="dropdown-menu event-menu">
            <li class="event-container well">
                <h5 data-bind="text: Description"></h5>
                <p data-bind="text: moment.utc(Date()).local().fromNow()" class="date"></p>
                <p data-bind="text: User || '(Anonymous}'" class="username"></p>
            </li>
        </ul>
    </div>
}

<div id="canvas-container">

</div>

@section scripts {
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/kinetic")
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/bundles/viewmodels")
    <script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>
    <script>
        var initialData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model));

        $(function () {
            var hub = $.connection.boardHub;
            
            var canvas = new ViewModels.CanvasViewModel("canvas-container");
            var viewModel = new ViewModels.BoardViewModel(hub, initialData, canvas);
            ko.applyBindings(viewModel);

            //note: using longPolling to work around bug 510 (https://github.com/SignalR/SignalR/issues/510) when working on Azure
            $.connection.hub.start({ transport: 'longPolling' }, viewModel.onHubStarted);
        });
    </script>

    <!-- 
        Templates
    -->
    <script id="color-editor" type="text/html">
        <div class="btn-group" data-bind="foreach: ['#000', '#808080', '#C0C0C0', '#DCDCDC', '#FFF', /*reds*/ '#f00', '#ff4500', '#fa8072', '#ffa500', '#ffd700', /*greens*/ '#006400', '#228b22','#6b8e23', '#32cd32', '#7cfc00', /*blues*/'#191970', '#0000FF', '#1e90ff', '#87cefa', '#40e0d0']">
            <div class="color-swatch" data-bind="click: function() { $parent.value($data); }, style: { background: $data }"></div>
        </div>
    </script>
    <script id="pen-size-editor" type="text/html">
        <div class="btn-group" data-bind="foreach: [2, 5, 10, 20]">
            <button class="btn no-hover-style" data-bind="click: function() { $parent.value($data); }, text: $data"></button>
        </div>
    </script>
    <script id="font-size-editor" type="text/html">
        <div class="btn-group" data-bind="foreach: [8, 12, 16, 24, 48, 128]">
            <button class="btn no-hover-style" data-bind="click: function() { $parent.value($data); }, text: $data"></button>
        </div>
    </script>
    <script id="font-family-editor" type="text/html">
        <select class="font-picker input-medium" data-bind="options: ['Arial', 'Segoe UI', 'Courier New', 'Georgia', 'Verdana', 'Trebuchet MS'], value: value"></select>
    </script>
}