@model Whiteboard.Models.Board

@{
    ViewBag.Title = Model.Name;
}

@section header {
    <p class="header-text pull-left" data-bind="text: name, visible: !isEditingName()"></p> 
    <a class="btn" data-bind="click: beginEditName, visible: !isEditingName()">
        <i class="icon-pencil"></i>
    </a>
    <form class="pull-left" data-bind="submit: saveName, visible: isEditingName, loadingWhen: saveName.isRunning">
        <input data-bind="value: name" />
        <button type="submit" class="btn btn-primary">
            <i class="icon-ok icon-white"></i>
        </button>
    </form>
    
}

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/viewmodels")
    @Scripts.Render("~/bundles/signalr")
    <script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>
    <script>
        var initialData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model));

        $(function () {
            var hub = $.connection.boardHub;
            var viewModel = new ViewModels.BoardViewModel(hub, initialData);
            ko.applyBindings(viewModel);

            $.connection.hub.start();
        });
    </script>
}